# Dataset (download dari Kaggle, jangan di-push)
dataset/

# Model files (terlalu besar)
*.pkl

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Dataset detector (ribuan file audio, jangan di-push)
datasetdetector/

# ESC-50 kalau ada di folder ini
ESC-50-master/